# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log

# Local tfvars (secrets)
*.tfvars
!*.tfvars.example

# Local env (secrets)
secrets.env
.envrc

# OCI keys (NEVER commit)
keys/
*.pem

# SOPS decrypted secrets (NEVER commit)
*.dec.json

# OS
.DS_Store

.planning/
